<nav
class="bg-white dark:bg-gray-900 text-noir dark:text-gray-200"
>

    <div 
    class="max-w-screen-xl w-11/12 md:w-4/6 mx-auto flex justify-between items-center"
    >
        <a 
        routerLink="/"
        class="py-2"
        >
  
            <img
                src="assets/img/elecmove-logo-light.png"
                alt="Logo Elec'move"
                class="max-w-20 dark:hidden"
            >

            <img
                src="assets/img/elecmove-logo-dark.png"
                alt="Logo Elec'move (dark)"
                class="max-w-20 hidden dark:block"
            >
    
        </a>

        <div>
            <ul
            class="hidden md:flex justify-between items-center gap-6">
                <li>
                    <a
                    routerLink="/private/bookings"
                    class="hover:text-vert ease-in-out duration-200"
                    >
                        Réserver une borne   
                    </a>
                </li>

                @if(this.auth.userLogged()) {
                    <li>
                        <a
                        routerLink="/private/stations"
                        class="hover:text-vert ease-in-out duration-200"
                        >
                            Mes bornes  
                        </a>
                    </li>
                }

                <li class="relative">
                    <button
                    (click)="toggleMenu()"
                    #menuButton
                    class="cursor-pointer relative hover:text-vert ease-in-out duration-200"
                    aria-controls="navbar-login" 
                    aria-expanded="false"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"/></svg>
                    </button>

                        <!-- Menu caché desktop -->
                    <div
                    #menuDropdown
                    [class.hidden]="!isMenuOpen()"
                    class="absolute left-0 w-60 bg-blanc dark:bg-gray-800 shadow-lg rounded-xl p-4 z-50"
                    >
                        <ul
                        class="flex flex-col mr-0 gap-2">
                            @if(!auth.userLogged()){
                                <li>
                                    <a
                                    routerLink="/login"
                                    class="hover:text-vert ease-in-out duration-200"
                                    >
                                        Se connecter   
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/subscribe"
                                    class="hover:text-vert ease-in-out duration-200"
                                    >
                                        Créer un compte   
                                    </a>
                                </li>
                            } @else {

                                <li>
                                    <a
                                    routerLink="/private"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <img src="/svg/view-dashboard.svg" alt="Dashboard" class="w-5 h-5 dark:invert">
                                        <span>Espace privé</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/private"
                                    fragment="reservations-a-traiter"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <img src="/svg/task-list.svg"
                                        alt="Réservations"
                                        class="w-5 h-5 dark:invert"
                                        >
                                        <span>Réservations à traiter</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/private/bookings"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <img src="/svg/appointment.svg" 
                                        alt="Réserver" 
                                        class="w-5 h-5 dark:invert"
                                        >
                                        <span>Faire une réservation</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/private/find-station"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <img src="/svg/localization.svg" alt="Trouver" class="w-5 h-5 dark:invert">
                                        <span>Trouver une borne</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/private/stations"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <img src="/svg/charging-station.svg" alt="Mes bornes" class="w-5 h-5 dark:invert">
                                        <span>Voir mes bornes</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                    routerLink="/private/cars"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5804C20.8183 11.1847 21 11.8691 21 12.5661V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5661C3 11.8691 3.18166 11.1847 3.52703 10.5804L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span>Mes voitures</span>
                                    </a>
                                </li>
                                <li class="border-t border-gray-200 dark:border-gray-600 pt-2">
                                    <a
                                    routerLink="/logout"
                                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200 font-montserrat!"
                                    >
                                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                        </svg>
                                        <span>Se déconnecter</span>
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>

                </li>

                <li>
                    <app-theme-toggle/>
                </li>
            </ul>
    
        </div>

        <!-- Menu burger -->
        <button 
        data-collapse-toggle="navbar-mobile" 
        type="button" 
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-200 dark:focus:ring-gray-600" 
        aria-controls="navbar-mobile" 
        aria-expanded="false" 
        >
            <span 
            class="sr-only"
            >Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

    </div>


    <!-- Menu caché mobile -->
    <div 
    class="hidden max-w-screen-xl w-11/12 mx-auto mt-15" 
    id="navbar-mobile"
    >
        <ul
        class="flex flex-col gap-3">
            <li>
                <a
                routerLink="/"
                class="hover:text-vert ease-in-out duration-200"
                >
                    Réserver une borne   
                </a>
            </li>
            @if(!auth.userLogged()){
                <li>
                    <a
                    routerLink="/login"
                    class="hover:text-vert ease-in-out duration-200"
                    >
                        Se connecter   
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/subscribe"
                    class="hover:text-vert ease-in-out duration-200"
                    >
                        Créer un compte   
                    </a>
                </li>
            } @else {
                <li>
                    <a
                    routerLink="/private"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <img src="/svg/view-dashboard.svg" alt="Dashboard" class="w-5 h-5 dark:invert">
                        <span>Espace privé</span>
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/private"
                    fragment="reservations-a-traiter"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <img src="/svg/task-list.svg" alt="Réservations" class="w-5 h-5 dark:invert">
                        <span>Listes des réservations à traiter</span>
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/private/bookings"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <img src="/svg/appointment.svg" alt="Réserver" class="w-5 h-5 dark:invert">
                        <span>Faire une réservation</span>
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/private/find-station"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <img src="/svg/localization.svg" alt="Trouver" class="w-5 h-5 dark:invert">
                        <span>Trouver une borne</span>
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/private/stations"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <img src="/svg/charging-station.svg" alt="Mes bornes" class="w-5 h-5 dark:invert">
                        <span>Voir mes bornes</span>
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/private/cars"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5804C20.8183 11.1847 21 11.8691 21 12.5661V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5661C3 11.8691 3.18166 11.1847 3.52703 10.5804L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Mes voitures</span>
                    </a>
                </li>
                <li class="border-t border-gray-200 dark:border-gray-600 pt-2">
                    <a
                    routerLink="/logout"
                    class="flex items-center gap-2 hover:text-vert ease-in-out duration-200"
                    >
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                        <span>Se déconnecter</span>
                    </a>
                </li>
            }

        </ul>

    </div>


</nav>

