<header>
    <app-private-navbar></app-private-navbar>

    <section 
    class="max-w-screen-xl w-11/12 md:w-4/6 mx-auto my-15"
    >

        <h1 
        class="text-xl md:text-3xl uppercase"
        >
            Mon espace
        </h1>
        <div 
        class="w-full md:w-5/6 inline-flex items-center"
        >
            <svg 
            xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" 
            class="size-4 md:size-6"
            ><path fill="currentColor" d="M8 5v14l11-7z"/></svg>
            <h2 
            class="text-lg md:text-1xl uppercase"
            >
                {{ title }}
            </h2>
        </div>





    </section>

</header>

