<section
class="w-11/12 md:w-4/6 mx-auto my-20"
>   

    <div
    class="w-full flex flex-col items-center justify-center gap-6"
    >   
        
        <div
        class="flex flex-col items-center justify-center gap-2"
        >
            <img
            src="svg/charging-station.svg"
            alt="Borne de recharge électrique"
            class="size-10"
            />
            <a 
            routerLink="/"
            class="w-4/5 text-center uppercase cursor-pointer bg-noir text-blanc px-4 py-2 rounded-md border border-vert ease-in-out duration-200h hover:text-vert"
            >
                <span
                class=""
                >
                    Trouver une borne
                </span>
            </a>
        </div>

        <div
        class="flex flex-col items-center justify-center gap-2"
        >
            <img
            src="svg/appointment.svg"
            alt="Appointment calendar"
            class="size-10"
            />
            <a 
            routerLink="/"
            class="w-4/5 text-center uppercase cursor-pointer bg-noir text-blanc px-5 py-2 rounded-md border border-vert ease-in-out duration-200h hover:text-vert"
            >
                <span
                class=""
                >
                    Faire une réservation
                </span>
            </a>
        </div>


    </div>
    


</section>



<section
class="w-11/12 md:w-4/6 mx-auto my-30"
>
    <div
    class="w-full flex flex-col items-center justify-center gap-6">   
        <img
        src="svg/task-list.svg"
        alt="Task list icon"
        class="size-10"
        />
        <h2
        class="text-2xl font-bold text-center mb-4"
        >
            Liste des réservations à traiter
        </h2>
    </div> 

    <!-- card reservation -->
    <div
    class="w-full mx-auto px-4 py-6 rounded-2xl border-1 border-noir">
        <div
        class="w-full mb-4 flex items-center gap-2">
            <img
            src="svg/charging-station.svg"
            alt="Charging station icon"
            class="size-12"
            />
            <div
            class="flex flex-col items-start justify-center">
                <!-- Nom de la borne -->
                <h3
                class=""
                >
                    Borne 2
                </h3>
                <!-- Adresse de la borne -->
                <p
                class="font-semibold"
                >
                    15 rue Antoine, Lyon, 69000
                </p>

            </div>
        </div>
        <div
        class="w-full flex items-center gap-2">
            <!-- Nom de la personne qui réserve -->
            <p
            class="font-semibold"
            >
                Mme Marie Pernet
            </p>
        </div>

        <div
        class="w-full flex items-center gap-2">
            <!-- Jour de réservation -->
            <p
            class="font-semibold"
            >
                Jour de réservation : 15/02/2025
            </p>
            
            <!-- Plage de réservation -->
            <p
            class="font-semibold"
            >
                De 9h30 à 15h
            </p>
        </div>

        <div
        class="flex justify-between items-center mt-4">
            <button
            class="flex flex-col items-center justify-center cursor-pointer"
            >   
                <img
                src="svg/arrow-validate.svg"
                alt="Validate icon"
                class="size-10 hover:fill-vert ease-in-out duration-200h"
                />
                Valider 
            </button>
            <button
            class="flex flex-col items-center justify-center"
            >   
                <img
                src="svg/cancel-rounded.svg"
                alt="Cancel icon"
                class="size-10"
                />
                Refuser
            </button>
        </div>

    </div>



</section>