<section
class="w-11/12 md:w-4/6 mx-auto my-20"
>   

    <div
    class="w-full flex flex-col items-center justify-center gap-6"
    >   
        
        <div
        class="flex flex-col items-center justify-center gap-2"
        >
            <img
            src="svg/charging-station.svg"
            alt="Borne de recharge électrique"
            class="size-10"
            />
            <a 
            routerLink="/"
            class="w-4/5 text-center uppercase cursor-pointer bg-noir text-blanc px-4 py-2 rounded-md border border-vert ease-in-out duration-200h hover:text-vert"
            >
                <span
                class=""
                >
                    Trouver une borne
                </span>
            </a>
        </div>

        <div
        class="flex flex-col items-center justify-center gap-2"
        >
            <img
            src="svg/appointment.svg"
            alt="Appointment calendar"
            class="size-10"
            />
            <a 
            routerLink="/"
            class="w-4/5 text-center uppercase cursor-pointer bg-noir text-blanc px-5 py-2 rounded-md border border-vert ease-in-out duration-200h hover:text-vert"
            >
                <span
                class=""
                >
                    Faire une réservation
                </span>
            </a>
        </div>


    </div>
    


</section>



<section
class="w-11/12 md:w-4/6 mx-auto my-30"
>
    <div
    class="w-full flex flex-col items-center justify-center gap-6">   
        <img
        src="svg/task-list.svg"
        alt="Task list icon"
        class="size-10"
        />
        <h2
        class="text-2xl font-bold text-center mb-4"
        >
            Liste des réservations à traiter
        </h2>
    </div> 

    <div>
        


    </div>



</section>