<footer
class="bg-noir mt-30"
>   

    <div
    class="max-w-screen-xl w-11/12 md:w-4/6 mx-auto grid md:grid-cols-3 gap-5 py-5"
    >
        <div
        class="flex order-3 md:order-1 mx-auto md:ml-0"
        >
         <form 
         action=""
         >
            <input 
            type="text" 
            placeholder="Rechercher"
            >
         </form> 


        </div>

        <div
        class="flex flex-col items-center gap-5 order-1 md:order-2"
        >
            <a 
            routerLink="/"
            class="cursor-pointer flex flex-col gap-3 items-center text-blanc font-zen uppercase"
            >
                <img 
                src="img/elecmove-logo-dark.png" alt="Logo Elec'move"
                class="max-w-20"
                >   
                Elec'move
            </a>

            <nav>
                <ul
                class="flex flex-col items-center"
                >
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            CGU - CGV
                        </a>
                    </li>
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            Mentions légales
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div
        class="flex justify-end order-2 md:order-3 mx-auto md:mr-0"
        >
            <nav>
                <ul
                class="flex flex-col items-center md:items-end justify-center"
                >
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            FR - EN
                        </a>
                    </li>
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            Réserver une borne
                        </a>
                    </li>
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            S'inscrire
                        </a>
                    </li>
                    <li>
                        <a 
                        routerLink="/"
                        class="text-white font-zen hover:text-vert cursor-pointer"
                        >
                            Se connecter
                        </a>
                    </li>
                </ul>

            </nav>


        </div>


    </div>



</footer>
