<div 
class="max-w-screen-xl w-11/12 md:w-4/6 mx-auto my-15 flex flex-col justify-center items-center gap-12"
>

    <h1 
    class="text-4xl "
    >
        Bienvenue sur Elec'move
    </h1>
    <div 
    class="w-5/6 inline-flex items-center"
    >   
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5v14l11-7z"/></svg>
        <p
        class="text-lg"
        >
            Faciliter vos déplacements en véhicules électriques
        </p>

    </div>


</div>


<div
class="w-max-screen h-60 bg-[url(/img/recharge-voiture-electrique.png)] bg-center bg-cover flex items-center">
    <div 
    class="w-11/12 h-max md:w-4/6 mx-auto my-15 flex justify-center items-center"
    >   
        <div
        class="w-5/6">
            <p
            class="font-zen text-blanc text-4xl w-5/6"
            >
                Votre partenaire en <strong>e-mobilité</strong>
            </p> 

        </div>


    </div>


</div>


