@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme{
    --color-noir: #1D1E18;
    --color-vert: #7BFF39;
    --color-blanc: #FCFCFC;
    --color-bleu: #247BA0;
    --color-rouge: #F25F5C;
    --font-zen: "Zen Dots";
}


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, a, button {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}


html, body { height: 100%; }

